# Ignore node_modules in root and all subdirectories
node_modules/

# Ignore .env files in root and all subdirectories
**/.env

# Keep the existing ignores
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build directories
**/build/

# Ignore coverage directories
**/coverage/

# Ignore .pnp files
**/.pnp
**/.pnp.js
